.topbar {
    display: flex;
    justify-content: space-between;
    max-height: 10vh;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.topbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    height: 5vh;
}

.topbar-menu {
    display: flex;
    align-items: center;
}

.topbar-menu a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.topbar-menu a.active {
    font-weight: bold;
}

.cart-badge {
    background-color: red;
    border-radius: 50%;
    padding: 2px 6px;
    margin-left: 5px;
}

.topbar-menu-button {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .topbar {
        flex-direction: row;
        align-items: flex-start;
    }

    .topbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .topbar-menu.open {
        display: flex;
        position: absolute;
        top: 60px;
        left: 58%;
        width: 30%;
        background-color: #333;
        padding: 10px 20px;
        flex-direction: column;
    }

    .topbar-menu a {
        display: block;
        padding: 10px 0;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #444;
    }

    .topbar-menu a:last-child {
        border-bottom: none;
    }

    .topbar-menu-button {
        display: block;
    }
}

/* .topbar {
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
    color: white;
    height: 60px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: auto;
}

.topbar-menu {
    display: flex;
    gap: 14px;
    margin-right: 23px;
}

.topbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px 15px;
    border-radius: 5px;
}

.topbar-menu a:hover {
    color: #ff6347;
}

.topbar-menu a.active {
    background-color: #555;
    color: #ff6347;
}

.cart-link {
    position: relative;
    display: inline-block;
    margin-right: 20px; 
}

.cart-badge {
    position: absolute;
    width: 21PX;
    height: 21px;
    transform: translateY(-15px) translateX(28px);
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: small;
   
} */